body {
  background-image: url("https://1.bp.blogspot.com/-b4FYbxeoJo0/XNA9QE2CjTI/AAAAAAAJz1Y/v-NfYgsbz6U-9GVOCjr25CQpGg7k84ZTwCLcBGAs/s1600/free-printable-christmas-paper-036.jpg");
  background-color: #144f21;
  color: white;
  font-family: 'Oleo Script';
  padding: 20px;
  font-weight: 400;
}

@font-face { font-family: Pacifico; src: url('Pacifico-Regular.ttf'); } 

h1 {
  font-family: Pacifico;
  text-decoration-style: solid;
  margin:0;
  font-size:95px;
  line-height: 150px;
  text-align: center;
  font-weight: 400;
  text-shadow: 2px 2px grey;
}

h2 {
  font-family: Pacifico;
  text-decoration-style: solid;
  margin:0;
  font-size:35px;
  line-height: 150px;
  text-align: center;
  font-weight: 400;
  background-size: contain;

}


ul {
  margin:0 auto 30px auto;
  padding:0;
  list-style-type:none;
  max-width:900px;
  width: 100%;
  text-align: center;
  user-select: none;
}

@font-face { font-family: Lora; src: url('Lora-Italic.ttf') } 

li {
  font-family: Lora;
  font-weight: 400;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 36px;
  display: inline-block;
  color:#111;
  cursor:pointer;
  font-size: 16px;
  padding-top:40px;
  padding-left: 10px;
  padding-right: 10px;
  margin:25px 12px;
  width: 130px;
  height: 130px;
  line-height: 20px;
  text-align: center;
  position: relative;
  vertical-align: top;
  user-select: none;
  perspective: 800px;
  transition: all 0.4s ease-in-out;
}

ul li:last-child {
  display:block;
  clear:both;
  margin: 20px auto 0 auto;
  width: 200px;
  height: 275px;
}

ul li:last-child .door {
  font-size: 100px;
  width: 200px;
  height: 275px;
  padding-bottom: 200px;
  line-height: 240px;
}

ul li:last-child .revealed {
  line-height: 123px;
}

.door {
  user-select: none;
  color:#fff;
  font-size: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #B31E22;
  box-sizing: border-box;
  border-top: 2px #eee solid;
  border-right: 2px #eee solid;
  border-bottom: 2px #eee solid;
  border-left: 1px #eee solid;
  border-radius: 36px;
  padding-top :50px;
  text-align: center;
  width: 130px;
  height:130px;
  transform-origin: 0 40%; 
  transition: all 0.4s ease-in-out;
  transform-style: preserve-3d;
}

.current .door {
  background-color: #7A0407;
}

.current .door.open{
  color: #CC6A6D;
}

.revealed {
  user-select: none;
}

#message {
  box-sizing: border-box;
  color: #222;
  display: none;
  font-size: 24px;
  padding: 20px;
  background: #eddecb;
  max-width: 500px;
  width: 100%;
  border-radius: 36px;
  margin: 0 auto;
}

.open {
  box-shadow: 14px 0px 15px -1px rgba(0,0,0,0.2);
  color: #CC6A6D;
  transform: rotate3d(0, 1, 0, -98deg);
}

.jiggle {
  animation: jiggle 0.2s infinite;
  transform: rotate(-1deg);
}

@keyframes jiggle {
  0% {
        transform: rotate(-1deg);
  }
  50% {
      transform: rotate(1deg);
  }
}

@media screen and (min-width: 480px) {
  li {
    margin:25px 20px;
  }
}


@media screen and (min-width: 768px) {
	body {
		background-size:150px;
	}
	
	p {
		right: 6%;
		top: 20%;
		bottom: auto; 
		margin-left: auto;
		left: auto;
	}
}

